asgiref==3.8.1
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
Django==5.0.7
djangorestframework==3.15.2
EditorConfig==0.12.4
gunicorn==23.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.15.1
json5==0.9.25
packaging==24.1
pathspec==0.12.1
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2023.12.25
six==1.16.0
sqlparse==0.5.1
tqdm==4.66.5
typing_extensions==4.12.2
whitenoise==6.7.0
