{% include 'head.html' %}
<!-- -->{% include 'header.html' %}
<!-- -->{% if page == 'login' %}
<div>
  <form action="" method="POST">
    {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="enter your username" />
    <label>Username</label>
    <input type="password" name="password" placeholder="enter your password" />
    <input type="submit" value="Login" />
  </form>
</div>
{% elif page == 'register' %}
<div>
  <form action="" method="POST">
    {% csrf_token %} {{ form.as_p }}

    <input type="submit" value="Register" />
  </form>
  <p>¿Ya estas registrado?</p>
  <a href="{% url 'login' %}">Iniciar sesion</a>
</div>
{% endif %}
