:root {
  --color-accent: #fcd37a;
  --color-accent-hover: #f7dca1;
  --color-body-bg: #181818;
  --color-bg: #252525;
  --color-font-main: white;

  --border-radius: 10px;

  --width-main: 1000px;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  color: var(--color-font-main);
}

body {
  background-color: var(--color-body-bg);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  gap: 1rem;
}

header {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background-color: var(--color-bg);
}

header .header-menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.app-wrapper {
  flex-grow: 1;
}

.app-wrapper,
.hero-wrapper {
  align-self: center;
  width: var(--width-main);
  display: flex;
  gap: 2rem;
}

.app-wrapper aside,
.app-wrapper main {
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-accent);
}

.app-wrapper aside {
  flex-grow: 1;
  padding: 1rem;
}

.app-wrapper main {
  flex-grow: 6;
  padding: 1rem;
}

footer {
  display: flex;
  justify-content: center;
}

a,
a:visited {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-hover);
}

.pointer {
  cursor: pointer;
}

.simple-task i {
  cursor: pointer;
}

/* sidebar */

.sidebar-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 3rem;
}

input[type="text"] {
  /* line-height: 2rem; */
}
