html {
  font-family: sans-serif;
}

body {
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

header,
main,
footer {
  flex: auto;
  padding: 20px;
}

header {
  background-color: #28292a;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  max-width: 1200px;
}

footer {
  width: 100%;
}

a,
a:visited {
  color: #d24726;
}

a:hover {
  color: #992a0f;
}
