<div class="projects-wrapper sidebar-section">
  <div class="sidebar-title-section projects-title-section">
    <h2>Projects</h2>
    <a href="{% url 'create-tag' %}">New project</a>
  </div>

  <div class="project-list">
    {% for project in projects %}

    <div>
      Id:{{project.id}} - Title:
      <a href="{% url 'project' project.id %}">{{project.title}}</a> |
      <div>
        <a href="{% url 'update-project' project.id %}">Edit</a> |
        <a href="{% url 'delete-project' project.id %}" class=""> Delete</a>
      </div>
      <p>{{project.description}}</p>
    </div>

    {% endfor %}
    <div>
      <a href="{% url 'create-project' %}">Create new project</a>
    </div>
  </div>
</div>
