<div class="simple-task" id="task-{{task.id}}">
  {% if task.done %}
  <i
    hx-post="{% url 'simple-check' task.id %}"
    hx-target="#task-{{task.id}}"
    hx-swap="outerHTML"
    style="color: green"
    class="fa-solid fa-circle-check"
  ></i>
  {% else %}
  <i
    hx-post="{% url 'simple-check' task.id %}"
    hx-target="#task-{{task.id}}"
    hx-swap="outerHTML"
    class="fa-regular fa-circle-check"
  ></i>
  {% endif %} Task: {{task.title}}

  <i
    class="fa-solid fa-trash"
    hx-delete="{% url 'simple-delete' task.id %}"
    hx-confirm="Are you sure you wish to delete this task?"
    hx-target="#tasks-feed-id"
    hx-swap="outerHTML"
  >
  </i>
  <i
    class="fa-solid fa-pen-to-square"
    hx-get="{% url 'simple-get' task.id %}"
    hx-target="#task-{{task.id}}"
    hx-swap="outerHTML"
  ></i>
</div>
