<footer>
  <div class="about">
    <p>
      This project is a model/example project for learning how to use
      <a target="_blank" href="https://htmx.org/">HTMX</a> with
      <a target="_blank" href="https://www.djangoproject.com/">Django</a>. In
      this project I also want to implement other libraries that go hand in hand
      like Alpine.js and the use of like
      <a href="https://alpinejs.dev/">Alpine.js</a> and the use of
      <a
        target="_blank"
        href="https://github.com/EmilStenstrom/django-components/"
        >Django Componenets</a
      >.
    </p>
    <p>
      Currently the implementation only includes htmx in the CRUD of tags,
      projects, and task. and task CRUD, but later on I want to implement
      changes in the state of components based on actions in the CRUD. I want to
      explore hx-headers and server sent events.
    </p>
  </div>

  <a href="https://github.com/zft9xgy/todux" target="_blank"
    >Check out this project on Github</a
  >
</footer>
