<header>
    <style>
        nav{
        display: inline-block;
        margin-right: 10px;
        font-weight: 600;
    }
    </style>
<nav><a href="/" class="link">Home</a></nav>
<nav><a href="/inbox" class="link">Inbox</a></nav>
{%  if request.user.is_authenticated  %}
<nav><a href="{% url 'profile' %}"">{{request.user}}</a></nav>
<nav></nav><a href="{% url 'logout' %}">Logout</a></nav>
{% else %}
<nav></nav><a href="{% url 'login' %}">Login</a></nav>
{% endif %}
<div>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
</header>

