{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    {% include 'header.html' %}
    <div class="hero-wrapper">
      <div class="hero">
        <h1>Todux</h1>
        <p>
          A SPA to-do app made with Django and HTMX inspired in Todoist. (on
          development)
        </p>
      </div>
    </div>

    <div class="app-wrapper">
      <aside class="sidebar">{% include 'sidebar.html' %}</aside>
      <main>{% block content %} {% endblock %}</main>
    </div>
    {% include 'footer.html' %}
  </body>
</html>
