{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    {% include 'header.html' %}

    <main>{% block content %} {% endblock %}</main>

    {% include 'footer.html' %}
  </body>
</html>
