{% extends 'main.html' %}


{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}
{% if request.user == project.owner %}
<h1>{{ project.title }}</h1>
<p>{{ project.description }}</p>
<hr>
<div>
    <strong><a href="{% url 'add-task' %}">Add new task</a></strong>
{% for task in  tasks %}

<div style="border: 1px solid grey; width: 600px; margin: 10px; padding:10px;" >
    Id:{{task.id}} - Title: {{task.title}} - <input type="checkbox" name="done" {% if task.done %} checked {% endif %}> 
    <div> <strong><a href="{% url 'update-task' task.id %}">Update</a></strong> | <a href="{% url 'delete-task' task.id %}" class=""> Delete</a></div>
</div>

{% endfor %}
</div>
{% endif %}
{% endblock %}