{% extends 'main.html' %}


{% block title %}
{{tag}}
{% endblock %}

{% block content %}

<div>
    <h1>{{tag}}</h1>
    <strong><a href="{% url 'add-task' %}">Add new task</a></strong>
{% for task in  tasks %}

<div style="border: 1px solid grey; width: 600px; margin: 10px; padding:10px;" >
    Id:{{task.id}} - Title: {{task.title}} - <input type="checkbox" name="done" {% if task.done %} checked {% endif %}> 
    <div> <strong><a href="{% url 'update-task' task.id %}">Update</a></strong> | <a href="{% url 'delete-task' task.id %}" class=""> Delete</a></div>
</div>

{% endfor %}
</div>



{% endblock %}